/*财务信息*/
.midland_r{
	width:calc(100% - 120px);
	min-height:900px;
	background: #f2f3f4 url(../img/right/head_l_bg2.jpg) no-repeat;
	float:left;
}
.head_btn_wrap{
	width:100%;
	height: 49px;
	border-bottom: #ccc 1px solid;
	font-size: 16px;
    background: #fff url(../img/head_l_bg.jpg) no-repeat;
}
.head_btn_wrap a{
	width: 10.3%;
	line-height: 48px;
	text-align: center;
	font-weight: bold;
	display: inline-block;
}
.head_reportBtn1{
	color: #0272ff;
	border-bottom: #0272ff 2px solid;
}
.head_reportBtn2,.head_reportBtn3{
	color: #333;
}
.midland_r .midland_r_mid{
	margin-top:30px;
	width:95.5%;
	min-height:700px;
	background:#fff;
	border:1px solid #ccc;
	border-radius:4px;
	margin-left:1.8%;
}
.midland_r_mid_div1{
	width:518px;
	height:338px;
	border:1px solid #ccc;
	margin-top:26px;
	margin-left:26px;
}
.information{
	font-size:14px;
	color:#666;
}
.information input{
	width:288px;
	height:34px;
	border:1px solid #ccc;
	text-indent:10px;
}
.mid_div1{
	font-size:18px;
	color:#666;
	margin-top:24px;
	margin-left:215px;
}
.mid_div2{
	margin-top:20px;
	margin-left:44px;
}
.mid_div3{
	margin-left:44px;
	margin-top:34px;
}
.mid_div4{
	margin-left:30px;
	margin-top:34px;
}
.mid_div5{
	width:198px;
	height:32px;
	border:1px solid #3ac45a;
	border-radius:4px;
	font-size:16px;
	color:#fff;
	background:#3ac45a;
	margin-top:34px;
	margin-left:150px;
	text-align:center;
	line-height:32px;
}
